<html>
    <head>
        <Title>

        </Title>
    </head>
    <body>
        <p style="text-align:center;"><img class="mb-4" src="https://res.cloudinary.com/rishblol/image/upload/v1665665386/qrcode2_frtesy.png" width = " 400" height = "400" class = "center"/>
       <br><br><br>
       <center><h1>
       Scan to Pay
       </center></h1>
       <br><br>
       <center>
       <a href="/marketplace"><button type="button" class="btn btn-success checkout">Back to Market</a></button>
       <a href="/history/"><button type="button" class="btn btn-success checkout">View orders</a></button>
       </center>
       
       

       
    </body>
</html>
