{% extends 'base.html' %}
{% block title %}
    Chat | NANOSOFT
{% endblock %}

{% block content %}
<body class="text-center">
  <form class="form-signin" action="{{url_for('chat')}}" method="POST">
    <img class="mb-4" src="https://res.cloudinary.com/rishblol/image/upload/v1650292555/logo_o9zpnm.png " alt=""><br><br>
    <h1 class="h1 mb-3 font-weight-normal">NANOCHAT</h1><br>
    <input type="text" id="username" name="username" placeholder="Username" size="100" required><br><br> 
    <input type="text" id="room" name="room" placeholder="Room" size="100" required><br><br>
    <button class="btn btn-lg btn-primary " value="submit">Start Chat</button><br><br>
    <h1 class="h5 mb-3 font-weight-normal">*note : the chat room is used to discuss only market specific discussions, please refrain from using it for general chatting. </h1><br>
  </form>
</body>
{% endblock %}