{% extends 'base.html' %}
{% block title %}
    Chat | NANOSOFT
{% endblock %}

{% block content %}
<body class="text-center">
  <form class="form-signin" action="{{url_for('chat')}}" method="POST">
    <br><br><br><br><br><br>
    <img class="mb-4" src="https://res.cloudinary.com/rishblol/image/upload/v1650292555/logo_o9zpnm.png " alt=""><br><br>
    <h1 class="h2 mb-3 font-weight-normal">J.A.R.V.I.S</h1><br>
    <a class="btn btn-primary" href="{{ url_for('jarvis') }}">Start Chatting</a>
  </form>
</body>
{% endblock %}